@layer components {
    .heading1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        font-family: var(--font-montserrat), sans-serif;
    }

    .heading2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.3;
        font-family: var(--font-montserrat), sans-serif;
    }

    .caption1 {
        font-size: 24px;
        font-weight: 500;
        font-family: var(--font-montserrat), sans-serif;
        line-height: 1.4;
    }

    .caption2 {
        font-size: 20px;
        font-weight: 400;
        font-family: var(--font-montserrat), sans-serif;
        line-height: 1.4;
    }

    .paragraph {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-open_sans), sans-serif;
        line-height: 1.6;
    }

    .myButton {
        font-size: 14px;
        font-weight: 600;
        background-color: #CFE0C3;
        color: black;
        border-radius: 30px;
        padding: 10px 15px;
    }

    .myCard {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 460px;
        border-radius: 30px;
    }

    .myCard_topContainer {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-radius: 30px;
    }

    .myCard_bottomContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        padding-left: 50px;
        height: 100%;
        border-radius: 0 0 30px 30px; 
    }
}